.edit {
    background-color: skyblue !important;
    font-style: normal;
    padding: 2em;
    margin: 3em;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    background-color: brown;
}